name: Acceptance Tests
concurrency:
  group: acceptance-tests
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
    - 'README.md'
    - 'CHANGELOG.md'
    - 'LICENSE'
    - 'GNUmakefile'
    - 'website/**'
    - 'docs/**'
    - '.changelog/**'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    env:
      IMPERVA_API_KEY: ${{ secrets.IMPERVA_API_KEY }}
      IMPERVA_API_ID: ${{ secrets.IMPERVA_API_ID }}
      
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ^1.18
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - uses: actions/cache@v3
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go${{ env.GO_VERSION }}-${{ hashFiles('**/go.sum') }}

    - name: Run unit tests
      run: go test ./incapsula

    - name: Run acceptance tests
      run: make testacc
